@model IEnumerable<todo>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="col pt-4">
        <div class="col-3 m-auto">
            <h2 class="text-info">TODO List</h2>
        </div>
        <div class="text-end">
            <a asp-controller="Todo" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
<br />
<br />
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Importance</th>
            <th scope="col">Date And Time</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model)
            {
                <tr class="table-primary">
                    <td scope="row">@obj.title</td>
                    <td>@obj.importance</td>
                    <td>@obj.CreatedDateTime</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Todo" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn btn-light mx-2"><i class="bi bi-pencil-square"></i>Edit</a>
                        </div>
                    </td>
                    <td>
                     <div class="w-75 btn-group" role="group">
                             <a asp-controller="Todo" asp-action="Delete" asp-route-id="@obj.Id"
                           class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                     </div>
                    </td>
                </tr>
            }

    </tbody>
</table>
<div class="row">
    <div class="col-6 m-auto">
        <a asp-controller="Todo" asp-action="SortImportance"
               class="btn btn-info mx-2"><i class="bi bi-funnel"></i>Sort By Critical</a>
    </div>
    <div class="col-6 m-auto">
        <a asp-controller="Todo" asp-action="SortTime"
               class="btn btn-info mx-2"><i class="bi bi-funnel"></i>Sort By Time</a>
    </div>
</div>

</div>